.EmailHeading {
      
        height: 25%; /* Adjust the height as needed */
        display: flex;
}


.block {
    flex: 1;
    margin-bottom: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .heading{
    font-weight: 700;
    font-size: 3.5rem;
  }

  .content{
    justify-content: flex-start;
    text-align: left;
  }