.App {
  text-align: center;
  background-color: white;
  overflow: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scrollableContainer {
  background-color: white;
  overflow: auto;
  /* Add any other styles you want for the scrollable container */
}

.section{
  padding: 12rem;
  padding-top: 12rem;
  padding-bottom: 12rem;
  width: 100%;
  height: 25%; /* Adjust the height as needed */
  display: flex;

}
